aside.logo {
    background: #89C5C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 90%;
    margin-left: 5%;
}

@media (max-width: 576px) {
    aside.logo img {
        width: 320px;
    }
}
